<div *ngIf="showloading" class="preloader-it">
    <div class="loader-pendulums"></div>
</div>

<div class="hk-pg-wrapper" style="height: 100vh;">
    <div class="container">
        <div class="hk-pg-header">
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i
              data-feather="archive"></i></span></span>Option Quantity Groups</h4>
        </div>

        <div class="row col-xl-12">
            <div class="col-xl-6">+
                <table class="table">
                    <thead>
                        <th>#Id</th>
                        <th>Name</th>
                    </thead>
                </table>
            </div>
            <div class="col-xl-6">
                <table class="table">
                    <thead>
                        <th>#Id</th>
                        <th>Name</th>
                        <th>Option</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>