
<div *ngIf="showloading" class="preloader-it">
<div class="loader-pendulums"></div>
</div>
<div class="hk-pg-wrapper">
    <div class="container">
        <!-- <nav class="hk-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light bg-transparent">
            <li class="breadcrumb-item active" aria-current="page"><i class="icon-note"></i> Manage</li>
        </ol>
    </nav> -->
        <div class="hk-pg-header">
            <h4 class="hk-pg-title" >DayWiseSales</h4>
        </div>

        <div class="col-sm-14">
            <div class="col-xl-12 pl-0 pr-0">
                <section class="hk-sec-wrapper">
                    <div class="form-group row">
                        <div style="margin-left:30px ">
                            <label for="username">Location</label>
                            <div class="ng-autocomplete">
                                <ng-autocomplete #auto [data]="stores" [searchKeyword]="key" (selected)='selectEvent($event)'
                                    placeHolder="Choose Location" [itemTemplate]="itemTemplate1" (inputCleared)="focusAutocomplete()"
                                    [notFoundTemplate]="notFoundTemplate1" [(ngModel)]="all"></ng-autocomplete>
                                <ng-template #itemTemplate1 let-item>
                                    <a [innerHTML]="item.Name"></a>
                                </ng-template>
            
                                <ng-template #notFoundTemplate1 let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                        <div style="margin-left:50px;">
                            <label for="username">Date</label>
                            <input type="text" style="width:15em;margin-left:5px;" ngxDaterangepickerMd
                                [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="selected"
                                [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
                                [linkedCalendars]="true" [showClearButton]="true" (change)="date($event)"
                                placeholder="Select Date..." class="form-control" />
            
                        </div>
                        <div hidden style="margin-left:80px;">
                            <label for="username">Date</label>
                            <input type="text" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                                [(ngModel)]="selected" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
                                [linkedCalendars]="true" [showClearButton]="true" (change)="date($event)"
                                placeholder="Select Date..." class="form-control" />
                        </div>
                        <div class="form-group" style="width: 10em;margin-left:40px;">
                            <label for="username">Source</label>
                            <select class="form-control custom-select" [(ngModel)]="sourceId" name="Source">
                                <option value="0">All</option>
                                <option value="1">POS</option>
                                <option value="2">Swiggy</option>
                                <option value="3">Zomato</option>
                                <option value="4">Food Panda</option>
                            </select>
                        </div>
            
                        <!-- <div class="toggle-wrap">
                            <div class="toggle toggle-light toggle-bg-primary toggle2"></div>
                        </div> -->
            
                        <div style="margin-top:35px;">
                            <button class="btn btn-success btn-sm mx-100 w-30" (click)="Submit()">Submit</button>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-sm">
                            <!-- <form> -->
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <input type="text" class="form-control" placeholder="Search Report.."
                                        [(ngModel)]="term">
                                    <br>
                                    <table class="table mb-0 table-sm">
                                        <thead>
                                            <tr style ="background-color:rgb(217, 226, 250);">

                                                <th (click)="sortsettings('OrderedDate')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Order Date</a></strong><i
                                                        *ngIf="sortfield == 'OrderedDate' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'OrderedDate' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('ReceiptCount')" style="font-size:11.5px;">
                                                    <strong> <a class="font-12">Receipt Count</a></strong><i
                                                        *ngIf="sortfield == 'ReceiptCount' && x == -1"
                                                        class="icon-arrow-up  pull-right "></i>
                                                    <i *ngIf="sortfield == 'ReceiptCount' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i></th>
                                                <th (click)="sortsettings('PendingCount')" style="font-size:11.5px;">
                                                    <strong> <a class="font-12">Pending Count</a></strong><i
                                                        *ngIf="sortfield == 'PendingCount' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'PendingCount' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('CancellationCount')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Cancellation Count</a></strong><i
                                                        *ngIf="sortfield == 'CancellationCount' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'CancellationCount' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('TotalSales')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Total Sales</a></strong><i
                                                        *ngIf="sortfield == 'TotalSales' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'TotalSales' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('TotalPayments')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Total Payments</a></strong><i
                                                        *ngIf="sortfield == 'TotalPayments' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'TotalPayments' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('Taxes')" style="font-size:11.5px;"><strong><a
                                                            class="font-12">Taxes</a></strong><i
                                                        *ngIf="sortfield == 'Taxes' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'Taxes' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('Discount')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Discount</a></strong><i
                                                        *ngIf="sortfield == 'Discount' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'Discount' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('CashPayment')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Cash Payments</a></strong><i
                                                        *ngIf="sortfield == 'CashPayment' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'CashPayment' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('CardPayment')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Card Payments</a></strong><i
                                                        *ngIf="sortfield == 'CardPayment' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'CardPayment' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                                <th (click)="sortsettings('OtherPayment')" style="font-size:11.5px;">
                                                    <strong><a class="font-12">Other Payments</a></strong><i
                                                        *ngIf="sortfield == 'OtherPayment' && x == -1"
                                                        class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'OtherPayment' && x == 1"
                                                        class="icon-arrow-down  pull-right"></i> </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of sortData | filter:term  ">
                                                <td class="font-11"><strong>{{item.OrderedDate}}</strong></td>
                                                <td class="font-11"><strong>{{item.ReceiptCount}}</strong>
                                                </td>
                                                <td class="font-11"><strong>{{item.PendingCount}}</strong>
                                                </td>
                                                <td class="font-11">
                                                    <strong>{{item.CancellationCount}}</strong></td>
                                                <td class="font-11">
                                                    <strong>&#8377;{{item.TotalSales | number: ".2"}}</strong></td>
                                                <td class="font-11">
                                                    <strong>&#8377;{{item.TotalPayments | number: ".2"}}</strong></td>
                                                <td class="font-11">
                                                    <strong>&#8377;{{item.Taxes | number: ".2"}}</strong></td>
                                                <td class="font-11">
                                                    <strong>&#8377;{{item.Discount | number: ".2"}}</strong></td>
                                                <td class="font-11">
                                                    <strong>&#8377;{{item.CashPayment | number: ".2"}}</strong></td>
                                                <td class="font-11">
                                                    <strong>&#8377;{{item.CardPayment | number: ".2"}}</strong></td>
                                                <td class="font-11">
                                                    <strong>&#8377;{{item.OtherPayment | number: ".2"}}</strong></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="font-11"><strong> TotalSales </strong></td>
                                                <td class="font-11"><strong> &#8377;{{TotalSales | number:".2"}}
                                                    </strong> </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="font-11"><strong> TotalPayments </strong></td>
                                                <td class="font-11"> <strong>
                                                        &#8377;{{TotalPayments | number:".2"}} </strong></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


<!-- href="javascript:void(0)" -->