<div class="hk-pg-wrapper">
  <!-- Breadcrumb -->
  <nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Reports</a></li>
      <li class="breadcrumb-item active" aria-current="page">Delivery Order Report</li>
    </ol>
  </nav>
  <!-- /Breadcrumb -->

  <div class="container">
    <!-- Title -->
    <div class="hk-pg-header">
      <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i
              data-feather="toggle-right"></i></span></span>Delivery Order Report</h4>
    </div>
    <!-- /Title -->

    <!-- Row -->
    <div class="row">
      <div class="col-xl-12">
        <section class="hk-sec-wrapper">
          <!-- <h5 class="hk-sec-title">Form controls</h5> -->
          <!-- <p class="mb-25">Textual form controls—like inputs, selects, and textareas—are styled with the
                      <code>.form-control</code> class. Included are styles for general appearance, focus state,
                      sizing, and more.
                  </p> -->
          <div class="row">
            <div class="col-sm">
              <div class="row">
                <div class="col-md-4">
                  <div>
                    <ng-template class="w-100" #rt let-r="result" let-t="term">
                      <ngb-highlight [result]="r.Name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <div style="height: 84%; position: relative;">
                      <input id="typeahead-template" style="height: 100%;" #instance="ngbTypeahead" type="text"
                        class="form-control" [(ngModel)]="smodel" placeholder="Search Ordered Store..."
                        [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
                        (selectItem)="selectedItem($event.item)" />
                      <span *ngIf="smodel != ''" class="search-clear" aria-hidden="true"
                        (click)="smodel = '';storeid = 0">×</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="margin-left:50px;">
                    <input type="text" style="width:15em;margin-left:5px;" ngxDaterangepickerMd
                      [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="selected"
                      [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
                      [linkedCalendars]="true" [showClearButton]="true" (change)="date($event)"
                      placeholder="Select Date..." class="form-control" />
                  </div>
                  <div hidden style="margin-left:80px;">
                    <label for="username">Date</label>
                    <input type="text" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                      [(ngModel)]="selected" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
                      [ranges]="ranges" [linkedCalendars]="true" [showClearButton]="true" (change)="date($event)"
                      placeholder="Select Date..." class="form-control" />
                  </div>
                </div>
                <div class="form-group col-md-4">
                  <div class="input-group mx-10 text-right">
                    <input type="text" class="form-control" [(ngModel)]="invoiceno" placeholder="InVoice Number"
                      aria-label="Recipient's username" aria-describedby="basic-addon2"
                      (keyup.enter)="deliveryOrderReport()">
                    <!-- <div class="input-group-append">
                                    <button class="btn btn-success" type="button" (click)="getorderbyinvoiceno()">Submit</button>
                                  </div> -->
                  </div>
                </div>
                <div class="col-md-4">
                  <div>
                    <ng-template class="w-100" #rt let-r="result" let-t="term">
                      <ngb-highlight [result]="r.Name" [term]="t"></ngb-highlight>
                    </ng-template>
                    <div style="height: 84%; position: relative;">
                      <input id="typeahead-template" style="height: 100%;" #instance="ngbTypeahead" type="text"
                        class="form-control" [(ngModel)]="dmodel" placeholder="Search Delivery Store..."
                        [ngbTypeahead]="search1" [resultTemplate]="rt" [inputFormatter]="formatter1"
                        (selectItem)="selectedDelItem($event.item)" />
                      <span *ngIf="smodel != ''" class="search-clear" aria-hidden="true"
                        (click)="smodel = '';storeid = 0">×</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="margin-left:50px;">
                    <input type="text" style="width:15em;margin-left:5px;" ngxDaterangepickerMd
                      [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="selected"
                      [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
                      [linkedCalendars]="true" [showClearButton]="true" (change)="date($event)"
                      placeholder="Select Date..." class="form-control" />
                  </div>
                  <div hidden style="margin-left:80px;">
                    <label for="username">Date</label>
                    <input type="text" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                      [(ngModel)]="selected" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
                      [ranges]="ranges" [linkedCalendars]="true" [showClearButton]="true" (change)="date($event)"
                      placeholder="Select Date..." class="form-control" />
                  </div>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-success" (click)="deliveryOrderReport()">Submit</button>
                </div>
    
                

                <!-- <div class="col-md-1">
                                  <div>
                                      <button class="btn btn-success" (click)="deliveryOrderReport()">Submit</button>
                                  </div>
                              </div> -->
              </div>
            </div>
          </div>
        </section>
        <section class="hk-sec-wrapper">
          <!-- <div class="row"> -->
            
          <!-- </div> -->

          <!-- <p class="mb-25">Set heights using classes like <code>.form-control-lg, custom-select-lg</code> and
                      <code>.form-control-sm, custom-select-sm</code>.
                  </p> -->

          <div class="row w-100">
            <div class="col-sm">
              <div class="table-wrap mb-30">
                <div class="table-responsive">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Invoice</th>
                        <th>Bill Amount</th>
                        <th>Paid Amount</th>
                        <th>Ordered Date</th>
                        <th>Delivery Date</th>
                        <th>Delivered Date</th>
                        <th>Status</th>
                        <th>Ordered Store</th>
                        <th>Delivery Store</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let order of orders">
                        <td><a data-toggle="modal" data-target="#exampleModalLarge01" href="javascript:void(0)"
                            (click)="selectOrder(order)">#{{order.InvoiceNo}}</a></td>
                        <td>{{order.BillAmount}}</td>
                        <td>{{order.PaidAmount}}</td>
                        <td><span class="text-muted"><i class="icon-clock font-13"></i> {{order.OrderedDateTime | date:
                            'MMM d, h:mm a'}}</span> </td>
                        <td><span class="text-muted"><i class="icon-clock font-13"></i> {{order.DeliveryDateTime | date:
                            'MMM d, h:mm a'}}</span> </td>
                        <td><span class="text-muted"><i class="icon-clock font-13"></i> {{order.DeliveredDateTime |
                            date: 'MMM d, h:mm a'}}</span> </td>
                        <td>{{order.StatusName}}</td>
                        <td>{{order.StoreName}}</td>
                        <td>{{order.DeliveryStoreName ? order.DeliveryStoreName : '-'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="exampleModalLarge01" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLarge01" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{temporder.InvoiceNo}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-xl-12 row">
                    <div class="col-xl-6">
                      <div class="card-body">
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="baseFullname"><strong>Status</strong></label>
                          <div class="col-md-8">
                            <select class="form-control custom-select" [(ngModel)]="temporder.OrderStatusId"
                              aria-placeholder="Select Company" style="margin-left:40px ">
                              <option *ngFor="let status of statuses" value={{status.id}}>{{status.status}}</option>
                            </select>
                          </div>
                          <!-- <span *ngIf="submitted && variantgroup.name == ''" class="text-danger">*VariantGroup cannot be
                                            empty</span> -->
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="baseFullname"><strong>Ordered
                              Store</strong></label>
                          <div class="col-md-3 pt-2" style="margin-left:40px ">
                            {{temporder.StoreName}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="baseFullname"><strong>Bill Amt</strong></label>
                          <div class="col-md-3 pt-2" style="margin-left:40px ">
                            &#8377;{{temporder.BillAmount}}
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 col-form-label" for="formControlRange"><strong>Paid
                              Amt</strong></label>
                          <div class="col-md-3 pt-2" style="margin-left:40px ">
                            &#8377;{{temporder.PaidAmount}}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label"
                          for="formControlRange"><strong>OrderedDate</strong></label>
                        <div class="col-md-3 pt-2">
                          <div style="margin-left:50px;">
                            <input style="width:15em;margin-left:5px;" [(ngModel)]="temporder.OrderedDate"
                              class="form-control" type="date" />
                          </div>
                          <!-- <div hidden style="margin-left:80px;">
                            <label for="username">Date</label>
                            <input type="text" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                              [(ngModel)]="selected" [showCustomRangeLabel]="true"
                              [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
                              [showClearButton]="true" (change)="date($event)" placeholder="Select Date..."
                              class="form-control" />
                          </div> -->
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="formControlRange"><strong>Delivery
                            Date</strong></label>
                        <div class="col-md-3 pt-2">
                          <div style="margin-left:50px;">
                            <!-- <input type="text" style="width:15em;margin-left:5px;" ngxDaterangepickerMd
                              [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                              [(ngModel)]="selected" [showCustomRangeLabel]="true"
                              [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
                              [showClearButton]="true" (change)="date($event)" placeholder="Select Date..."
                              class="form-control" /> -->
                            <input style="width:15em;margin-left:5px;" [(ngModel)]="temporder.DeliveryDateTime"
                              class="form-control" type="date" />
                          </div>
                          <!-- <div hidden style="margin-left:80px;">
                            <label for="username">Date</label>
                            <input type="text" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                              [(ngModel)]="selected" [showCustomRangeLabel]="true"
                              [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
                              [showClearButton]="true" (change)="date($event)" placeholder="Select Date..."
                              class="form-control" />
                          </div> -->
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="formControlRange"><strong>Delivered
                            Date</strong></label>
                        <div class="col-md-3 pt-2">
                          <div style="margin-left:50px;">
                            <!-- <input type="text" style="width:15em;margin-left:5px;" ngxDaterangepickerMd
                              [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="selected"
                              [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges"
                              [linkedCalendars]="true" [showClearButton]="true" (change)="date($event)"
                              placeholder="Select Date..." class="form-control" /> -->
                            <input style="width:15em;margin-left:5px;" [(ngModel)]="temporder.DeliveredDateTime"
                              class="form-control" type="date" />
                          </div>
                          <!-- <div hidden style="margin-left:80px;">
                            <label for="username">Date</label>
                            <input type="text" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}"
                              [(ngModel)]="selected" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true"
                              [ranges]="ranges" [linkedCalendars]="true" [showClearButton]="true"
                              (change)="date($event)" placeholder="Select Date..." class="form-control" />
                          </div> -->
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="baseFullname"><strong>Delivery
                            Store</strong></label>
                        <div class="col-md-9 pt-2">
                          <div>
                            <ng-template class="w-100" #rt let-r="result" let-t="term">
                              <ngb-highlight [result]="r.Name" [term]="t"></ngb-highlight>
                            </ng-template>
                            <div style="width:100%;height: 84%; position: relative;margin-left:55px;">
                              <input id="typeahead-template" style="height: 100%;" #instance="ngbTypeahead" type="text"
                                class="form-control" [(ngModel)]="temporder.DeliveryStoreObj"
                                placeholder="Search Delivery Store..." [ngbTypeahead]="search" [resultTemplate]="rt"
                                [inputFormatter]="formatter" (selectItem)="selectedItem($event.item)" />
                              <span *ngIf="temporder.DeliveryStoreId != ''" class="search-clear" aria-hidden="true"
                                (click)="temporder.DeliveryStoreId = '';storeid = 0">×</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="formControlRange"><strong>Note</strong></label>
                        <div class="col-md-9 pt-2">
                          <!-- <input class="form-control form-control-sm" [(ngModel)]="temporder.CancelReason" type="text"
                            placeholder="Some Reason.."> -->
                          <textarea class="form-control" style="margin-left: 55px;" rows="1"
                            placeholder="Some Reason..." [(ngModel)]="temporder.Note"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- /Row -->
  </div>
</div>