<!-- /Vertical Nav -->

<!-- Main Content -->
<div class="hk-pg-wrapper">
 <div class="container">
     
     <div class="hk-pg-header">
         <h4 class="hk-pg-title">&nbsp; Product - Tag</h4>
     </div>
     <div class="form-group row">
      <div class="col-xl-6">    
      <!-- <label for="firstName"><strong class="text-light">Tag</strong></label> -->
      <select class="form-control custom-select"
        (change)="setTagId($event.target.value)"       
        >
        <option value="0">Select Tag</option>
        <option *ngFor="let item of tags" value="{{item.Id}}">{{item.Description}}</option>
      </select>
    
     </div>
      <div class="col-xl-6">
       <button class="btn btn-success btn-sm mx-10 w-10"
           (click)="save()">Save</button>
     </div>
    </div>
     <div class="row">
         <div class="col-xl-4 text-right">
             <input type="text" class="form-control" placeholder="Search Products.." [(ngModel)]="term">
         </div>      
     </div>
    
     <div class="col-xl-12 pl-0 pr-0">
         <section class="hk-sec-wrapper">
             <div class="row">
                 <div class="col-sm">
                     <!-- <form> -->
                     <div class="table-wrap">
                         <div class="table-responsive" #epltable>
                             <table class="table mb-0 table-sm">
                                 <thead>
                                     <tr style="background-color:rgb(217, 226, 250);">
                                         <!-- <th>#</th> -->
                                         <th> <strong><a class="font-12">Name</a></strong></th>
                                         <th> <strong><a class="font-12">Description</a></strong></th>
                                          <th><strong class="font-12">Select</strong></th>
                                     </tr>
                                 </thead>
                                 <tbody>
                                     <tr
                                         *ngFor="let item of prod | filter:term | paginate: { itemsPerPage: 10, currentPage: p } ;let i=index ">
                                         <!-- <td>{{i+1}}</td> -->
                                         <td class="font-13"><span *ngIf="item.ProductTypeId == 1"
                                                 class="badge badge-success badge-outline mr-2"><span
                                                     class="badge badge-success badge-indicator"></span></span>
                                             <span *ngIf="item.ProductTypeId == 2"
                                                 class="badge badge-danger badge-outline mr-2"><span
                                                     class="badge badge-danger badge-indicator"></span></span>
                                             <span *ngIf="item.ProductTypeId == 4"
                                                 class="badge badge-secondary badge-outline mr-2"><span
                                                     class="badge badge-secondary badge-indicator"></span></span>
                                             <span *ngIf="item.ProductTypeId == 3"
                                                 class="badge badge-warning badge-outline mr-2"><span
                                                     class="badge badge-warning badge-indicator"></span></span>
                                             <strong><a href="javascript:void(0)"
                                                     [routerLink]="['/edit-product', item.Id]"
                                                     class="text-info font-13">{{item.Name}}
                                                 </a></strong></td>
                                         <td class="font-12">{{item.Description}}</td>
                                        <td>
                                             <a class="px-10">
                                                 <input type="checkbox" 
                                                 (click)="select(item.Id,$event.target.checked)">
                                         
                                             </a>
                                              </td>


                                     </tr>
                                     <br>
                                     <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                     <!-- </form> -->
                 </div>
             </div>
         </section>
     </div>
 </div>
 <!-- /Row -->
</div>
<ng-template #contentdetail let-modal>
 <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
     <div class="modal-dialog ma-0" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Do You Really Want To Delete This Product? </h5>
             </div>
             <div class="modal-footer">
                 <button class="btn btn-success btn-sm mx-10 w-20" data-dismiss="modal" aria-label="Close"
                     (click)="deleteProduct(deleteId);modal.close()">Yes</button>
                 <button class="btn btn-danger btn-sm mx-10 w-20" data-dismiss="modal" aria-label="Close"
                     (click)="modal.close()">No</button>
             </div>
         </div>
     </div>
 </div>
</ng-template>

<ng-template #contentdetail1 let-modal>
 <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
     <div class="modal-dialog ma-0" role="document">
         <div class="modal-content">
             <div class="modal-body">
                 <input type="file" class="btn-text" accept=".csv" (change)="csv2Array($event)"
                     placeholder="Upload file">

             </div>
             <div class="modal-footer">
                 <button class="btn btn-success btn-sm mx-10 w-20" (click)="Upload();modal.close()">Upload</button>
                 <button class="btn btn-danger btn-sm mx-10 w-20" (click)="modal.close()">Cancel</button>
             </div>
         </div>
     </div>
 </div>

</ng-template>