<div *ngIf="showloading" class="preloader-it">
    <div class="loader-pendulums"></div>
</div>
<div class="hk-pg-wrapper">
    <div class="hk-pg-header">
        <h4 class="hk-pg-title">&nbsp; Category</h4>
    </div>
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row" hidden>
            <div class="col-xl-3 text-right">
            </div>
            <div class="col-xl-7 mb-10 text-right">
                <a href="add-category">
                    <button class="btn btn-success btn-sm mx-10 w-20">
                        <span class="btn-text">+ Add Category </span>
                    </button>
                </a>

            </div>
            <div class="col-xl-2">
                <a>
                    <label for="username">Show inactive </label>
                    <input type="checkbox" class="mx-10" (change)="changefilter($event.target.checked)">
                </a>
            </div>
        </div>
        <div class="col-xl-12 pl-0 pr-0 ">
            <section class="hk-sec-wrapper">
                <h5 class="hk-sec-title">Category List</h5>
                <p class="mb-20">Type in <code>search box</code> to search.</p>
                <a href="add-category" style="position: absolute;
                                              z-index: 1;
                                              top: 20px;
                                              right: 30px;">
                    + Add Category
                </a>
                <div class="row">
                    <div class="col-xl-6">
                        <input type="text" class="form-control" placeholder="Search category.." [(ngModel)]="term">
                    </div>
                    <div class="col-xl-3">
                        <label for="username">Show inactive </label>
                        <input type="checkbox" class="mx-10" (change)="changefilter($event.target.checked)">
                    </div>
                    <div class="col-xl-3">
                        <button class="btn btn-info" [disabled]=isSelected() (click)="copyToSPG()">Copy To Sale Product Group</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <!-- <th><input type="checkbox"></th> -->
                                            <th colspan="2">Category</th>
                                            <th>Parent</th>
                                            <th>Active</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of categoryList | filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                                            <td scope="row"><input type="checkbox" [(ngModel)]="item.selected"></td>
                                            <td>
                                                <a href="javascript:void(0)" [routerLink]="['/edit-category',item.Id]" class="text-info">{{item.Description}}</a>
                                            </td>
                                            <td>{{(item.ParentCat=='')?"-":item.ParentCat}}</td>
                                            <td>
                                                <input type="checkbox" [(ngModel)]="item.isactive" (click)="active(item.Id,!item.isactive)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="hk-sec-wrapper">
                <div class="row">
                    <div class="col-sm">
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table class="table mb-0 table-sm">
                                    <thead>
                                        <tr style="background-color:rgb(217, 226, 250);">
                                            <th scope="row">
                                                <input type="checkbox" [(ngModel)]="selectAll">
                                            </th>
                                            <th (click)="sortsettings('Description')">
                                                <strong><a class="font-12">Category</a></strong><i *ngIf="sortfield == 'Description' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                <i *ngIf="sortfield == 'Description' && x == 1" class="icon-arrow-down  pull-right"></i>
                                            </th>
                                            <th (click)="sortsettings('ParentCat')">
                                                <strong><a class="font-12">ParentCategory</a></strong><i *ngIf="sortfield == 'ParentCat' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                <i *ngIf="sortfield == 'ParentCat' && x == 1" class="icon-arrow-down  pull-right"></i>
                                            </th>
                                            <th><strong class="font-12">Active</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let item of sortData | filter:term | paginate: { itemsPerPage: 10, currentPage: p }">
                                        <tr>
                                            <td>
                                                <input type="checkbox" [(ngModel)]="item.selected">
                                            </td>
                                            <td class="font-12">
                                                <strong><a href="javascript:void(0)"
                                                        [routerLink]="['/edit-category',item.Id]"
                                                        class="text-info">{{item.Description}}</a></strong>
                                            </td>
                                            <td class="font-12"> {{(item.ParentCat=='')?"-":item.ParentCat}}
                                            </td>
                                            <td>
                                                <a class="px-10">
                                                    <input type="checkbox" [(ngModel)]="item.isactive" (click)="active(item.Id,!item.isactive)">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
        </div>
    </div>
    <!-- /Row -->
</div>
<ng-template #contentDetail let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
        <div class="modal-dialog ma-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Do You Really Want To Delete This Category?</h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-sm mx-10 w-20" data-dismiss="modal" aria-label="Close" (click)="Delete1(deleteId);modal.close()">Yes</button>
                    <button class="btn btn-danger btn-sm mx-10 w-20" data-dismiss="modal" aria-label="Close" (click)="modal.close()">No</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>