<div *ngIf="showloading" class="preloader-it">
    <div class="loader-pendulums"></div>
</div>
<div class="hk-pg-wrapper">
    <div class="container">
        <!-- <nav class="hk-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light bg-transparent">
            <li class="breadcrumb-item active" aria-current="page"><i class="icon-note"></i> Manage</li>
        </ol>
    </nav> -->
        <div class="hk-pg-header">
            <h4 class="hk-pg-title">OrderWiseSales</h4>
        </div>
        <div class="col-sm-14">
            <div class="col-xl-12 pl-0 pr-0">
                <section class="hk-sec-wrapper">
                    <div class="form-group row">
                        <div style="margin-left:30px ">
                            <label for="username">Location</label>
                            <ng-autocomplete [data]="stores" style="width:10em;  
              border-color: #c5d4d6;" [formControl]="myControl" [searchKeyword]="key" (selected)='selectEvent($event)' placeHolder="Choose Location" (inputCleared)="focusAutocomplete()" [itemTemplate]="itemTemplate1" [notFoundTemplate]="notFoundTemplate1"
                                [(ngModel)]="all"></ng-autocomplete>
                            <ng-template #itemTemplate1 let-item>
                                <a [innerHTML]="item.Name"></a>
                            </ng-template>

                            <ng-template #notFoundTemplate1 let-notFound>
                                <div [innerHTML]="notFound"></div>
                            </ng-template>
                        </div>
                        <div style="margin-left:50px;">
                            <label for="username">Date</label>
                            <input type="text" class="form-group" style="width:15em;margin-left:5px;" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="selected" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
                                [showClearButton]="true" (change)="date($event)" placeholder="Select Date..." class="form-control" />
                        </div>
                        <div hidden style="margin-left:120px;margin-top: 3px">
                            <label for="username">Date</label>
                            <input type="text" class="form-group" style="width:15em;margin-left:5px;" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'DD/MM/YYYY'}" [(ngModel)]="selected" [showCustomRangeLabel]="true" [alwaysShowCalendars]="true" [ranges]="ranges" [linkedCalendars]="true"
                                [showClearButton]="true" (change)="date($event)" placeholder="Select Date..." class="form-control" />
                        </div>


                        <div class="form-group" style="width: 10em;margin-left:40px;">
                            <label for="username">Source</label>
                            <select class="form-control custom-select" [(ngModel)]="sourceId" name="Source">
                <option value="0">All</option>
                <option value="1">POS</option>
                <option value="2">Swiggy</option>
                <option value="3">Zomato</option>
                <option value="4">Food Panda</option>
              </select>
                        </div>

                        <div style="margin-top:35px;">
                            <button class="btn btn-success btn-sm mx-100 w-30 pull-right" (click)="Submit()">Submit</button>
                        </div>
                        <!-- <div style="margin-left:85px;margin-top:35px; ">
              <button type="button" class="btn btn-primary" (click)="Export()">Export</button>
            </div> -->
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <!-- <form> -->
                            <div class="table-wrap">
                                <div class="table-responsive">
                                    <input type="text" class="form-control" placeholder="Search Report.." [(ngModel)]="term" (input)="calculate()">
                                    <br>
                                    <div class="float-right">
                                        <strong>TotalSales: </strong>{{TotalSales | number: ".2"}} <br>
                                        <strong>TotalPayments: </strong>{{TotalPayments | number: ".2"}} <br>
                                    </div>
                                    <table class="table mb-0 table-sm">
                                        <thead>
                                            <tr style="background-color:rgb(217, 226, 250);">
                                                <th (click)="sortsettings('InvoiceNo')"><strong><a class="font-12">Id</a></strong><i *ngIf="sortfield == 'InvoiceNo' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'InvoiceNo' && x == 1" class="icon-arrow-down  pull-right"></i>
                                                </th>
                                                <th (click)="sortsettings('OrderedDate')"> <strong><a class="font-12">Date</a></strong><i *ngIf="sortfield == 'OrderedDate' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'OrderedDate' && x == 1" class="icon-arrow-down  pull-right"></i>
                                                </th>
                                                <th (click)="sortsettings('Name')"> <strong><a class="font-12">Store</a></strong><i *ngIf="sortfield == 'Name' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'Name' && x == 1" class="icon-arrow-down  pull-right"></i>
                                                </th>
                                                <th (click)="sortsettings('TotalTax')"><strong><a class="font-12">Tax</a></strong><i *ngIf="sortfield == 'TotalTax' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'TotalTax' && x == 1" class="icon-arrow-down  pull-right"></i>
                                                </th>
                                                <th (click)="sortsettings('DiscAmount')"><strong><a class="font-12">Discount</a></strong><i *ngIf="sortfield == 'DiscAmount' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'DiscAmount' && x == 1" class="icon-arrow-down  pull-right"></i>
                                                </th>
                                                <th (click)="sortsettings('BillAmount')"><strong><a class="font-12">Bill Amount</a></strong><i *ngIf="sortfield == 'BillAmount' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'BillAmount' && x == 1" class="icon-arrow-down  pull-right"></i>
                                                </th>
                                                <th (click)="sortsettings('PaidAmount')"><strong><a class="font-12">Paid Amount</a></strong><i *ngIf="sortfield == 'PaidAmount' && x == -1" class="icon-arrow-up  pull-right"></i>
                                                    <i *ngIf="sortfield == 'PaidAmount' && x == 1" class="icon-arrow-down  pull-right"></i>
                                                </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="select" (click)="itemdetails(contentdetail1,item.ItemJson,item.ChargeJson, item.SourceId);
                        " *ngFor="let item of sortData | filter:term; index as i;">
                                                <td class="font-12">{{item.InvoiceNo}}</td>
                                                <td class="font-12">{{item.OrderedDate}}</td>
                                                <td class="font-12">{{item.Store}}</td>
                                                <td class="font-12">&#8377;{{item.TotalTax | number: ".2"}}</td>
                                                <td class="font-12">&#8377;{{item.DiscAmount | number: ".2"}}</td>
                                                <td class="font-12">&#8377;{{item.BillAmount | number: ".2"}}</td>
                                                <td class="font-12">&#8377;{{item.PaidAmount | number: ".2"}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>TotalSales</strong></td>
                                                <td class="font-14"><strong>&#8377;{{TotalSales | number:".2"}}</strong></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>TotalPayments</strong></td>
                                                <td class="font-14"><strong>&#8377;{{TotalPayments | number:".2"}}</strong></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                                </div>
                            </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<ng-template #contentdetail1 let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
        <div class="modal-dialog ma-0" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header">
          <h5 class="modal-title">OrderWiseSalesReport</h5>
        </div> -->
                <div class="modal-body" style="width:100%">
                    <table *ngIf="receipt.length" class="table table-sm mb-0" style="width:100%">
                        <thead>
                            <tr>
                                <td>Item</td>
                                <td>Quantity</td>
                                <td>Tax</td>
                                <td>Price</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of receipt">
                                <td>{{item.Product}}</td>
                                <td>{{item.Quantity}}</td>
                                <td>{{item.Tax1+item.Tax2}}</td>
                                <td>&#8377;{{item.Price | number:".2"}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Subtotal</td>
                                <td>&#8377;{{subtotal | number:".2"}}</td>
                            </tr>
                            <tr *ngIf="discount > 0">
                                <td></td>
                                <td></td>
                                <td>Discount</td>
                                <td>-&#8377;{{discount | number: ".2"}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>CGST</td>
                                <td>&#8377;{{cgst | number:".2"}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>SGST</td>
                                <td>&#8377;{{sgst | number:".2"}}</td>
                            </tr>
                            <tr *ngFor="let item of ordcharges">
                                <td></td>
                                <td></td>
                                <td>{{item.Description}}</td>
                                <td>&#8377;{{item.ChargeAmount | number:".2"}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Total</td>
                                <td>&#8377;{{total | number:".2"}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!receipt.length" style="background: #fffbe5" class="row px-30 py-30 border border-warning rounded-5 mx-10 bg-primary-10">
                        <span style="
            margin: auto;
            color: #6b5d00;
            font-style: italic;
        ">Item details not available</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="modal.close()">OK</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>