<div class="hk-pg-wrapper light-theme">
    <!-- <input [(ngModel)]="name" type="text"> -->
    <!-- <button (click)="getwebhooks()">click</button><br> -->
    <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{reversed}} -->
    <mat-list>
        <div mat-subheader>Orders</div>
        <mat-list-item *ngFor="let order of orders">
            <mat-icon mat-list-icon>error_outline</mat-icon>
            <div mat-line>{{order.order.details.id}}</div>
            <div mat-line> {{order.order.details.created | date}} </div>
            <div mat-line> <button mat-raised-button (click)="getwebhookdata(order.delivery_id)">Get Data</button> </div>
            <mat-divider></mat-divider>
        </mat-list-item>
        <div mat-subheader>Statuses</div>
        <mat-list-item *ngFor="let status of statuses">
            <mat-icon mat-list-icon>error_outline</mat-icon>
            <div mat-line>{{status.order_id}}</div>
            <div mat-line> {{status.timestamp_unix | date}} </div>
            <div mat-line> {{status.new_state}} <button mat-raised-button (click)="getwebhookdata(status.delivery_id)">Get Data</button> </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <!-- <mat-selection-list #shoes class="light-theme">
        <mat-list-option *ngFor="let order of orders">
            <div>{{order.status}}</div>
            <div mat-line>Deliver Id: {{order.delivery_id}} </div>
            <div mat-line>Last Executed: {{order.last_executed}}</div>
        </mat-list-option>
    </mat-selection-list> -->
    <section class="hk-sec-wrapper">
        <button (click)="getproducts()">getdata</button>
        <table class="table table-striped table-bordered table-sm row-border hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Website</th>
              </tr>
            </thead>
            <tbody>
             <tr *ngFor="let group of data">
                   <td>{{group.userId}}</td>
                   <td>{{group.id}}</td>
                   <td>{{group.title}}</td>
               </tr>
            </tbody>
          </table>
    </section>
</div>