<div class="hk-pg-wrapper">
  <!-- <nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
      <li class="breadcrumb-item active" aria-current="page"><i class="icon-note"></i>+ Add Customer</li>
    </ol>
  </nav> -->

  <div class="container">
    <div class="hk-pg-header">
      <h4 class="hk-pg-title">Add User</h4>
    </div>
    <!-- <div class="col-xl-12 pl-0 pr-0"> -->
    <section class="hk-sec-wrapper">
      <div class="row">
        <!-- <div class="col-xl-4">
            <strong class="text-light">Add User</strong>
          </div> -->
        <!-- <div class="col-xl-6  offset-xl-4"> -->
        <!-- <div> -->
        <div class="col-xl-12 d-flex mb-15">
          <label for="firstname" class="col-xl-3"><strong>Firstname</strong> <span class="text-danger">*</span></label>
          <input [(ngModel)]="customer.firstname" [class.is-invalid]="error[0].status" type="text" class="form-control col-xl-4" name="firstname" id="firstname">
          <span class="col-xl-5 text-danger">{{error[0].msg}}</span>
        </div>
        <div class="col-xl-12 d-flex mb-15">
          <label for="Lastname" class="col-xl-3"><strong>Lastname</strong></label>
          <input [(ngModel)]="customer.lastname" type="text" class="form-control col-xl-4" name="Lastname" id="Lastname">
          <span class="col-xl-5 text-danger"></span>
        </div>
        <div class="col-xl-12 d-flex mb-15">
          <label for="Mobile number" class="col-xl-3"><strong>Mobile number</strong> <span
              class="text-danger">*</span></label>
          <input type="text" class="form-control col-xl-1" disabled name="Mobile number" id="Mobile number" value="+91">
          <input [(ngModel)]="customer.mobile" [class.is-invalid]="error[1].status" type="text" class="form-control col-xl-3" name="Mobile number" id="Mobile number">
          <span class="col-xl-5 text-danger">{{error[1].msg}}</span>
        </div>
        <div class="col-xl-12 d-flex mb-15">
          <label for="Email" class="col-xl-3"><strong>Email</strong> <span class="text-danger">*</span></label>
          <input [(ngModel)]="customer.email" [class.is-invalid]="error[2].status" type="text" class="form-control col-xl-4" name="Email" id="Email">
          <span class="col-xl-5 text-danger">{{error[2].msg}}</span>
        </div>
        <div class="col-xl-12 d-flex mb-15">
          <label for="User Type" class="col-xl-3"><strong>User Type</strong> <span class="text-danger">*</span></label>
          <!-- <input [(ngModel)]="customer" type="text" class="form-control col-xl-4" name="User Type" id="User Type"> -->
          <select [(ngModel)]="customer.usertype" [class.is-invalid]="error[3].status" class="form-control custom-select ">
            <option selected disabled value=""> Please Select</option>
            <option value="admin">Admin</option>
            <option value="user">User</option>
            <option value="user">Driver</option>

          </select>
          <span class="col-xl-5 text-danger">{{error[3].msg}}</span>
        </div>
        <div class="col-xl-12 d-flex mb-15">
          <label for="Password" class="col-xl-3"><strong>Password</strong> <span class="text-danger">*</span></label>
          <input type="password" class="form-control col-xl-4" name="Password" id="Password">
          <span class="col-xl-5"></span>
        </div>
        <div class="col-xl-12 d-flex mb-15">
          <label for="Confirm Password" class="col-xl-3"><strong>Confirm Password</strong> <span
              class="text-danger">*</span></label>
          <input type="password" class="form-control col-xl-4" name="Confirm Password" id="Confirm Password">
          <span class="col-xl-5"></span>
        </div>
        <!-- <div class ="pull-right"> -->
        <!-- </div> -->
      
        <!-- </div> -->
        <!-- <form [formGroup]="CustomerForm">
          <div class="row">
            <span class="ml-20">Name</span> <span class="text-danger">*</span>
            <input style="width: 20em" type="text" class="form-control ml-100 " formControlName="Name"
              [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
            <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
              <div *ngIf="f.Name.errors.required">Name is required</div>
            </div>
          </div>
            <div class="row">
            <span class="ml-20">Email</span> <span class="text-danger">*</span>
            <input style="width: 20em" type="text" class="form-control ml-100" formControlName="Email"
              [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
            <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
              <div *ngIf="f.Email.errors.required">Email is required</div>
            </div>
          </div>
            <div class="row">
            <span class="ml-20">PhoneNo</span> <span class="text-danger">*</span>
            <input style="width: 20em" type="number" class="form-control ml-100" formControlName="PhoneNo"
              [ngClass]="{ 'is-invalid': submitted && f.PhoneNo.errors }" />
            <div *ngIf="submitted && f.PhoneNo.errors" class="invalid-feedback">
              <div *ngIf="f.PhoneNo.errors.required">PhoneNo is required</div>
            </div>
          </div>
            <div class="row">
            <span class="ml-20">Address</span>
            <input style="width: 20em" type="text" class="form-control ml-100" formControlName="Address" />
          </div>
            <div class="row">
            <span class="ml-20" >City</span>
            <input style="width: 20em" type="text" class="form-control ml-100" formControlName="City" />
          </div>
            <div class="row">
            <span class="ml-20" >PostalCode</span>
            <input style="width: 20em" type="number" class="form-control ml-100" formControlName="PostalCode" />
          </div>
            <div class="row">
            <button type="button" class="btn btn-outline-primary" (click)="location.back()">Cancel</button>
            <button type="submit" style="margin-left: 85px" class="btn btn-success"
              (click)="Savecustomer()">Save</button>
          </div>
        </form> -->
        <!-- </div> -->
      </div>
      <div class="text-right">
        <button type="button" class="btn btn-danger w-10 " (click)="location.back()">Cancel</button>
        <button type="submit"  class="btn btn-success ml-10 w-10  "
          (click)="addcustomer()">Add</button>
      </div>
    </section>
    <!-- </div> -->
  </div>
</div>