
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// $custom-primary: mat-palette($mat-deep-purple, 600);
// $custom-accent: mat-palette($mat-pink, 100);

// $custom-theme: mat-dark-theme($custom-primary, $custom-accent);
// @include angular-material-theme($custom-theme);


// $alt-primary: mat-palette($mat-yellow);
// $alt-accent: mat-palette($mat-grey, 200);

// $alt-theme: mat-dark-theme($alt-primary, $alt-accent);

// .alternative {
//     @include mat-button-theme($alt-theme);
// }
// Custom themable components
@import "app/order-type-report/order-type-report.component";
@mixin custom-components-theme($theme) {
//   @include sidenav-theme($theme);
}

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);
@include angular-material-theme($light-theme);

.light-theme {
  @include angular-material-theme($light-theme);
  // @include custom-components-theme($light-theme);
}

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
  // @include custom-components-theme($dark-theme);
}
// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $biz1book-primary: mat-palette($mat-indigo);
// $biz1book-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $biz1book-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $biz1book-theme: mat-light-theme($biz1book-primary, $biz1book-accent, $biz1book-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($biz1book-theme);

