<div class="hk-pg-wrapper">
    <nav class="hk-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light bg-transparent col-md-6">
            {{LocationName}}
        </ol>
        <!-- <div class="text-right col-md-6">
            <button [disabled]="sync_loading" class="btn btn-primary"><i *ngIf="sync_loading"
                    class="fa fa-circle-o-notch fa-spin"></i><span *ngIf="!sync_loading">Sync
                    Catalogue</span></button>
        </div> -->
    </nav>
    <div class="container">
        <ul class="nav nav-light nav-tabs" role="tablist" id="myTab">
            <li class="nav-item col-sm-3">
                <a class="nav-link active" data-toggle="tab" href="#items" role="tab" aria-controls="items"
                    id="itemstab">Items</a>
            </li>
            <li class="nav-item col-sm-3">
                <a class="nav-link" data-toggle="tab" href="#Options" role="tab" aria-controls="Options"
                    id="Optionstab">Options</a>
            </li>
            <li class="col-sm-6 text-right">
                <button class=" btn btn-secondary  btn-sm mx-10 w-20" (click)='location.back()'>
                    <span *ngIf="!sync_loading">Back
                    </span></button>
                <button [disabled]="sync_loading" class="btn btn-success  btn-sm mx-10 w-25" (click)="sync()"><i
                        *ngIf="sync_loading">
                    </i><span *ngIf="!sync_loading">Sync
                        Catalogue</span></button>

            </li>
        </ul>
        <br>
        <!-- <div> -->
        <div class="tab-content" id="myTabContent">
            <div class="mt-4 mb-4 tab-pane fade show active" id="items" role="tabpanel">
                <div class="container">
                    <div class="col-xl-12 pl-0 pr-0">
                        <section class="hk-sec-wrapper">
                            <div class="d-flex">
                                <div class="col-xl-6">
                                    <button class="btn btn-success  btn-sm mx-10 w-20"
                                        (click)="enable_disable('enable')">Add
                                    </button>
                                    <button class="btn btn-danger  btn-sm mx-10 w-20"
                                        (click)="enable_disable('disable')">Remove
                                    </button>
                                    <button [disabled]="pd_loading" class="btn btn-info  btn-sm mx-10 w-20"
                                        (click)="UpdateProdPrice()"><i *ngIf="pd_loading">
                                        </i><span *ngIf="!pd_loading">Update
                                            Price
                                        </span></button>
                                </div>
                                <div class="text-right col-xl-6">
                                    <button class="btn btn-success  btn-sm mx-10 w-20" (click)="inStock()">In
                                        Stock</button>
                                    <button class="btn btn-danger  btn-sm mx-10 w-20 " (click)="outStock()">Out of
                                        Stock</button>
                                </div>
                            </div>
                            <br>
                            <div class="form-group col-xl-6" style="vertical-align: middle;">
                                <div class="input-group" style="align-items: center;">
                                    <input type="text" class="form-control" [(ngModel)]="searchterm"
                                        placeholder="Search...">
                                    <span *ngIf="searchterm" class="input-clear" (click)="searchterm = ''">
                                        <i class="fa fa-times"></i>
                                    </span>
                                    <!-- <div class="input-group-append">
                                        <button class="btn btn-outline-light" type="button">X</button>
                                    </div> -->
                                </div>
                            </div>
                            <div *ngIf="searchterm=='' || searchterm==undefined || searchterm==null">
                                <div *ngFor="let category of Data">
                                    <!-- <div class="list-group-item d-flex" (click)="toggle(category)" style="width: 100%;"><strong>{{category.Description}}</strong> <span class="rotate" [ngClass]="{'down': category.show}">&#9656;</span>   <span class="text-light" style="align-self: flex-end;"> {{category.subcategories.length}} sub</span></div> -->
                                    <div class="list-group-item col-xl-12 d-flex">
                                        <div class="col-xl-6">
                                            <span class="rotate font-20 pointer " [ngClass]="{'down': category.show}"
                                                (click)="toggle(category)">&#9656;</span>
                                            <span *ngIf="category.show" class="py-1 px-10">
                                                <input type="checkbox"
                                                    (change)="Headselect($event.target.checked, category.Id)">
                                            </span>
                                            <strong class="font-18 btn-link  pointer"
                                                (click)="toggle(category)">{{category.Description}}</strong>
                                        </div>
                                        <div class="col-xl-6 text-right">
                                            <span class="text-light "> {{category.subcategories.length}} sub
                                                {{getproducts(category.Id).length}}</span>
                                        </div>
                                    </div>
                                    <div *ngIf="category.show">
                                        <!-- {{category.subcategories | json}} -->
                                        <div *ngIf="getproducts(category.Id).length > 0">
                                            <div class="list-group-item text-left d-flex pl-50 px-100 col-xl-12 h-50p"
                                                *ngFor="let product of getproducts(category.Id)">
                                                &nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="py-1">
                                                    <input type="checkbox" [(ngModel)]="product.selected">
                                                </span>
                                                <span class="col-xl-6">
                                                    <span *ngIf="product.ProductTypeId==1"
                                                        class="badge badge-success badge-outline">
                                                        <span class="badge badge-success badge-indicator"></span>
                                                    </span>
                                                    <span *ngIf="product.ProductTypeId==2"
                                                        class="badge badge-danger badge-outline">
                                                        <span class="badge badge-danger badge-indicator"></span>
                                                    </span>
                                                    <span *ngIf="product.ProductTypeId==3"
                                                        class="badge badge-warning badge-outline">
                                                        <span class="badge badge-warning badge-indicator"></span>
                                                    </span>
                                                    <span *ngIf="product.ProductTypeId==4"
                                                        class="badge badge-light badge-outline">
                                                        <span class="badge badge-light badge-indicator"></span>
                                                    </span>
                                                    &nbsp;&nbsp;{{product.Name}}
                                                </span>
                                                <div class="col-xl-3 text-light" *ngIf="product.IsEnabled">
                                                    &#8377; <input type="number" class="w-60p" name="UPPrice"
                                                        (change)="ProductArray(product.Id,UPPrice.value)" id="UPPrice"
                                                        #UPPrice [value]="product.Price">
                                                </div>
                                                <div class="col-xl-3 text-light" *ngIf="!product.IsEnabled">
                                                    &#8377; <input type="number" class="w-60p" name="UPPrice"
                                                        (change)="ProductArray(products.Id,UPPrice.value)" id="UPPrice"
                                                        #UPPrice [value]="product.UPPrice">
                                                </div>
                                                <div class="col-xl-2 text-center">
                                                    <!-- <span class="col-xl-6"> -->
                                                    <span *ngIf="product.Available&&product.IsEnabled"
                                                        class="badge badge-success">In
                                                        Stock</span><span *ngIf="!product.Available&&product.IsEnabled"
                                                        class="badge badge-danger">Out
                                                        Of Stock</span>
                                                    <span *ngIf="!product.IsEnabled">-</span>
                                                    <!-- </span> -->
                                                    <!-- <span class="col-xl-6"> -->
                                                    <!-- </span> -->
                                                </div>
                                                <div class="col-xl-1">
                                                    <i *ngIf="product.IsEnabled"
                                                        class="zmdi zmdi-check text-success"></i>
                                                    <i *ngIf="!product.IsEnabled"
                                                        class="zmdi zmdi-close text-danger"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngFor="let subcat of category.subcategories">
                                            <div class="list-group-item d-flex col-xl-12 pointer">
                                                <span class="col-xl-6">
                                                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; <span
                                                        class="rotate font-20 pointer "
                                                        [ngClass]="{'down': subcat.show}"
                                                        (click)="toggleSubcat(subcat)">&#9656;</span>
                                                    <span *ngIf="subcat.show" class="py-1 px-10">
                                                        <input type="checkbox" [(ngModel)]="subcat.selected"
                                                            (change)="selectdeselect($event.target.checked, subcat.Id)">
                                                    </span>
                                                    <strong class="btn-link pointer "
                                                        (click)="toggleSubcat(subcat)">{{subcat.Description}}</strong>
                                                </span>
                                                <span class=" text-right col-xl-6">
                                                    <span class="text-light "> {{getproducts(subcat.Id).length}}
                                                        items</span>
                                                </span>
                                            </div>
                                            <div *ngIf="subcat.show">
                                                <div class="list-group-item text-left d-flex pl-50 px-100 col-xl-12 h-50p"
                                                    *ngFor="let product of getproducts(subcat.Id)">
                                                    &nbsp;&nbsp;&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <span class="py-1">
                                                        <input type="checkbox" [(ngModel)]="product.selected">
                                                    </span>
                                                    <span class="col-xl-6">
                                                        <span *ngIf="product.ProductTypeId==1"
                                                            class="badge badge-success badge-outline">
                                                            <span class="badge badge-success badge-indicator"></span>
                                                        </span>
                                                        <span *ngIf="product.ProductTypeId==2"
                                                            class="badge badge-danger badge-outline">
                                                            <span class="badge badge-danger badge-indicator"></span>
                                                        </span>
                                                        <span *ngIf="product.ProductTypeId==3"
                                                            class="badge badge-warning badge-outline">
                                                            <span class="badge badge-warning badge-indicator"></span>
                                                        </span>
                                                        <span *ngIf="product.ProductTypeId==4"
                                                            class="badge badge-light badge-outline">
                                                            <span class="badge badge-light badge-indicator"></span>
                                                        </span>
                                                        &nbsp;&nbsp;{{product.Name}}
                                                    </span>
                                                    <div class="col-xl-3 text-light" *ngIf="product.IsEnabled">
                                                        &#8377; <input type="number" class="w-60p" name="UPPrice"
                                                            (change)="ProductArray(product.Id,UPPrice.value)"
                                                            id="UPPrice" #UPPrice [value]="product.Price">
                                                    </div>
                                                    <div class="col-xl-3 text-light" *ngIf="!product.IsEnabled">
                                                        &#8377; <input type="number" class="w-60p" name="UPPrice"
                                                            (change)="ProductArray(products.Id,UPPrice.value)"
                                                            id="UPPrice" #UPPrice [value]="product.UPPrice">
                                                    </div>
                                                    <div class="col-xl-2 text-center">
                                                        <!-- <span class="col-xl-6"> -->
                                                        <span *ngIf="product.Available&&product.IsEnabled"
                                                            class="badge badge-success">In
                                                            Stock</span><span
                                                            *ngIf="!product.Available&&product.IsEnabled"
                                                            class="badge badge-danger">Out
                                                            Of Stock</span>
                                                        <span *ngIf="!product.IsEnabled">-</span>
                                                        <!-- </span> -->
                                                        <!-- <span class="col-xl-6"> -->
                                                        <!-- </span> -->
                                                    </div>
                                                    <div class="col-xl-1">
                                                        <i *ngIf="product.IsEnabled"
                                                            class="zmdi zmdi-check text-success"></i>
                                                        <i *ngIf="!product.IsEnabled"
                                                            class="zmdi zmdi-close text-danger"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!(searchterm=='' || searchterm==undefined || searchterm==null)">
                                <div class="list-group-item text-left d-flex pl-50 col-xl-12 h-50p"
                                    *ngFor="let product of Products | filter:searchterm">
                                    &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="py-1">
                                        <input type="checkbox" [(ngModel)]="product.selected">
                                    </span>
                                    <span class="col-xl-5">
                                        <span *ngIf="product.ProductTypeId==1"
                                            class="badge badge-success badge-outline">
                                            <span class="badge badge-success badge-indicator"></span>
                                        </span>
                                        <span *ngIf="product.ProductTypeId==2" class="badge badge-danger badge-outline">
                                            <span class="badge badge-danger badge-indicator"></span>
                                        </span>
                                        <span *ngIf="product.ProductTypeId==3"
                                            class="badge badge-warning badge-outline">
                                            <span class="badge badge-warning badge-indicator"></span>
                                        </span>
                                        <span *ngIf="product.ProductTypeId==4" class="badge badge-light badge-outline">
                                            <span class="badge badge-light badge-indicator"></span>
                                        </span>
                                        &nbsp;&nbsp;{{product.Name }}
                                    </span>
                                    <div class="col-xl-2 text-light">
                                        &#8377; <input type="number" class="w-60p" name="UPPrice"
                                            (change)="ProductArray(product.Id,UPPrice.value)" id="UPPrice" #UPPrice
                                            [value]="product.Price">
                                    </div>
                                    <div class="col-xl-2 text-center">
                                        <span *ngIf="product.Available" class="badge badge-success">In
                                            Stock</span><span *ngIf="!product.Available" class="badge badge-danger">Out
                                            Of
                                            Stock</span>
                                    </div>
                                    <div class="col-xl-1">
                                        <i *ngIf="product.IsEnabled" class="zmdi zmdi-check text-success"></i>
                                        <i *ngIf="!product.IsEnabled" class="zmdi zmdi-close text-danger"></i>

                                    </div>
                                    <div class="col-xl-2 overflow" data-toggle="tooltip" data-placement="top"
                                        title="{{product.Category}}">
                                        {{product.Category}}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <!-- <div class="mt-4 mb-4 tab-pane fade show " id="Charges" role="tabpanel">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <div class="btn-group">
    <div class="dropdown">
    <button aria-expanded="false" data-toggle="dropdown"
    class="btn btn-light dropdown-toggle " type="button">Action <span
    class="caret"></span></button>
    <div role="menu" class="dropdown-menu">
    <a class="dropdown-item" href="javascript:void(0)" (click)="inStock()">Set as in
    Stock</a>
    <a class="dropdown-item" href="javascript:void(0)" (click)="outStock()">Set as out
    of
    Stock</a>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-6 text-right">
    <button class="btn btn-outline-success" (click)="syncCharge()">Sync Charges</button>
    </div>
    </div>
    <br>
    <div class="col-xl-12 pl-0 pr-0">
    <section class="hk-sec-wrapper">
    <div class="col-xl-4 text-left">
    <input type="text" class="form-control" placeholder="Search Product.." [(ngModel)]="term">
    </div>
    <div class="row">
    <div class="col-sm">
    <form>
    <div class="table-wrap">
    <div class="table-responsive">
    <table class="table mb-0">
    <thead>
    <tr>
    <th class="w-sm-25p"><input type="checkbox"
    (change)="selectCharge($event.target.checked)"></th>
    <th>Charge</th>
    <th>ChargeValue</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of action.Charges | filter:term ">
    <td class="w-sm-25p"><input type="checkbox"
    [(ngModel)]="item.selected" name="{{item.Description}}"
    id="{{item.Description}}"></td>
    <td [ngStyle]="{'color': !item.IsSynced ? 'red' : 'black'}">
    {{item.Description}}</td>
    <td [ngStyle]="{'color': !item.IsSynced ? 'red' : 'black'}">
    {{item.ChargeValue}}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </form>
    </div>
    </div>
    </section>
    </div>
    </div>
    </div> -->

            <div class="mt-4 mb-4 tab-pane fade show " id="Options" role="tabpanel">
                <div class="container">
                    <div class="col-xl-12 pl-0 pr-0">
                        <section class="hk-sec-wrapper">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button [disabled]="op_loading" class="btn btn-primary  btn-sm mx-10 w-10"
                                        (click)="UpdateOptionPrice()"><i *ngIf="op_loading"></i><span
                                            *ngIf="!op_loading">Update
                                            Price
                                        </span></button>
                                </div>
                            </div>
                            <br>
                            <div class="col-xl-4 text-left">
                                <input type="text" class="form-control" placeholder="Search Options.."
                                    [(ngModel)]="term">
                            </div>
                            <div class="row">
                                <div class="col-sm">
                                    <form>
                                        <div class="table-wrap">
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <thead>
                                                        <tr>
                                                            <!-- <th class="w-sm-25p"><input type="checkbox"
                                                                    (change)="selectCharge($event.target.checked)"></th> -->
                                                            <th><strong>Option</strong></th>
                                                            <th><strong>Price</strong></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of data.Options | filter:term ">
                                                            <!-- <td class="w-sm-25p">
                                                                <input type="checkbox" [(ngModel)]="item.selected"
                                                                    name="{{item.Name}}" id="{{item.Name}}">
                                                            </td> -->
                                                            <td>{{item.Name}}{{(item.Description!='')?'('+item.Description+')':''}}
                                                            </td>
                                                            <td>
                                                                <!-- {{item.Price}} -->
                                                                <input type="number" name="UPPrice"
                                                                    (change)="item.Changed=true;OptionArray(item.Id,UPPrice.value)"
                                                                    id="UPPrice" #UPPrice [value]="item.UPPrice">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- </div> -->
</div>
<ng-template #contentDetail let-modal>
    <div class="modal d-block position-static overflow-show" tabindex="-1" role="dialog">
        <div class="modal-dialog ma-0" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <section class="hk-sec-wrapper">
                        <div class="col-xl-4">
                            <strong class="text-light">User Details </strong>
                        </div>
                        <div class="col-xl-6  offset-xl-4">
                            <div class="form-group">
                                <span>User Name</span>
                                <input style="width: 20em" type="text" class="form-control"
                                    [(ngModel)]="userdata.accounts.Name" name="Name" />
                            </div>
                            <div class="form-group">
                                <span>Email</span>
                                <input style="width: 20em" type="text" class="form-control"
                                    [(ngModel)]="userdata.accounts.Email" name="Email" />
                            </div>
                            <div class="form-group">
                                <span>Mobile No</span>
                                <input style="width: 20em" type="number" class="form-control"
                                    [(ngModel)]="userdata.accounts.PhoneNo" name="PhoneNo" />
                            </div>
                            <button type="submit" style="margin-left: 85px" class="btn-primary"
                                (click)="saveData()">Save</button>
                            <button type="submit" style="margin-left: 85px" class="btn-primary"
                                (click)="Getdetails()">Reset</button>
                        </div>
                    </section>

                    <!-- <h5 class="modal-title">Do You Really Want To Delete This Category?</h5> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close"
                        (click)="Delete1(deleteId);modal.close()">Yes</button>
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" aria-label="Close"
                        (click)="modal.close()">No</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalForms" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="responsecode != 200" style="color: red;">Error!</h5>
                <h5 class="modal-title" *ngIf="responsecode == 200" style="color: green;">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <div *ngFor="let error of errors"> -->
                <!-- <span style="color: red;">&#9888;</span> {{error.message}} -->
                <i class="fa fa-check-circle" style="color: green;"></i><i class="fa fa-warning"
                    *ngIf="responsecode != 200" style="color: orange;"></i> {{response}}
                <!-- </div> -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary btn-sm" data-dismiss="modal" aria-label="Close">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="actionresponse" tabindex="-1" role="dialog" aria-labelledby="exampleModalForms"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Response</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {{actionresponse}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary btn-sm" id="modalclose" data-dismiss="modal"
                    aria-label="Close">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="error" tabindex="-1" role="dialog" aria-labelledby="exampleModalForms" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: red;">Error!!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                No items are selected.
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-secondary btn-sm" data-dismiss="modal" aria-label="Close">Ok</button>
            </div>
        </div>
    </div>
</div>